@model AddressEntityVM[]
@{
    Layout = "_Layout";
    ViewBag.Title = "Contacts";
}
<a asp-controller="Contacts" asp-action="Index">Back</a>
@{
    if (Model != null)
    {

        foreach (var addressEntity in Model)
        {
            <table class="table">
                <tbody>
                <tr>
                    <td>
                        <b>
                            @addressEntity.City&nbsp;
                            @addressEntity.Street&nbsp;
                            @addressEntity.Zip
                        </b>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table cellspacing="2" cellpadding="0">
                            <tbody>
                            @foreach (var contact in addressEntity.ContactVms)
                            {
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>
                                        @contact.FirstName&nbsp;
                                    </td>
                                    <td>
                                        @contact.LastName&nbsp;
                                    </td>
                                    <td>
                                        @contact.SSN
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        }
    }
}