@model AddressVM[]
@{
    Layout = "_Layout";
    ViewBag.Title = "Addresses";
}
<a asp-controller="Contacts" asp-action="Index">Back</a>
@{
    <table class="table">
        <thead>
            <tr>
                <td>
                    <b>City:</b>
                </td>
                <td>
                    <b>Street:</b>
                </td>
                <td>
                    <b>Zip:</b>
                </td>
                <td>
                    <b>Edit:</b>
                </td>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {

                foreach (var address in Model)
                {
                    <tr>
                        <td>
                            @address.City&nbsp;
                        </td>
                        <td>
                            @address.Street&nbsp;
                        </td>
                        <td>
                            @address.Zip
                        </td>
                        <td>
                            <a asp-controller="Contacts" asp-action="UpdateAddressForm" asp-route-id="@address.ID">Update</a> | <a asp-controller="Contacts" asp-action="DeleteAddress" asp-route-id="@address.ID">Delete</a>
                        </td>
                    </tr>
                }

            }
        </tbody>
    </table>
}