@model ContactEntityVM[]
@{
    Layout = "_Layout";
    ViewBag.Title = "Contacts";
}
<a asp-controller="Contacts" asp-action="Index">Back</a>

@{
    if (Model != null)
    {

        foreach (var contactEntity in Model)
        {
            <table class="table">
                <tbody>
                <tr>
                    <td>
                        <b>
                            @contactEntity.FirstName&nbsp;
                            @contactEntity.LastName&nbsp;
                            @contactEntity.SSN
                        </b>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table cellspacing="2" cellpadding="0">
                            <thead>
                            <tr>
                                <td colspan="4">
                                    <i>Addresses</i>
                                </td>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var address in contactEntity.AddressVms)
                            {
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>
                                        @address.City&nbsp;
                                    </td>
                                    <td>
                                        @address.Street&nbsp;
                                    </td>
                                    <td>
                                        @address.Zip
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table cellspacing="2" cellpadding="0">
                            <thead>
                            <tr>
                                <td colspan="2">
                                    <i>Contact information</i>
                                </td>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var contactInfo in contactEntity.ContactInformationVms)
                            {
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>
                                        @contactInfo.Info
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        }
    }
}